/* GENERAL RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GENERAL SETTINGS */
.container-big {
    max-width: 400px;
    margin: 0 auto;
}

/* HEADER */
header {
    background-color: #5DACFC;
}

.menu-header-desktop {
    display: none;
}

header .row {
    padding: 1rem 0;
    justify-content: space-between;
    align-items: center;
}

/* JUMBOTRON */
.jumbotron .container-big {
    display: flex;
    justify-content: center;
}

.jumbotron .row {
    width: 100%;
}

/* PLANNING */
.planning {
    padding: 5rem 0;
}

/* UTILITIES */
.text-align-center {
    text-align: center;
}

.row {
    display: flex;
}

.flex-wrap {
    flex-wrap: wrap;
}

.gap-2rem {
    gap: 2rem;
}

.min-width-480 {
    min-width: 480px;
}

.margin-t-3rem-b-5rem {
    margin-top: 3rem;
    margin-bottom: 5rem;
}

.padding-r-l-3rem {
    padding: 0 3rem;
}

.padding-t-b-5rem {
    padding: 5rem 0;
}

.margin-0-auto {
    margin: 0 auto;
}

.border {
    border: 1px solid black;
}

/* COLUMNS*/
.col-30 {
    width: 30%;
}

.col-33 {
    width: 100%;
}

.col-50 {
    width: 100%;
    height: 600px;
    border: 1px solid black;
}

.col-67 {
    width: 100%;
}

.col-70 {
    width: 100%;
}

.col-100 {
    width: 100%;
}

/* CARD PROPERTIES */
.card-radius-2 {
    height: 450px;
    border-radius: 2rem;
    border: 1px solid black;
}

.card-radius-5 {
    border-radius: 5rem;
    height: 500px;
    border: 1px solid black;
}

/* COLORS */
.b-azure {
    background-color: #B3DBFB;
}

.b-purple {
    background-color: #9595E3;
}

.b-white {
    background-color: white;
}