/* GENERAL RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1rem;
}

/* ************************************** */
/* GENERAL SETTINGS */
.container-big {
    margin: 0 auto;
}

/* ************************************** */
/* HEADER */
header {
    background-color: #0463c2;
    padding: 1rem 0;
}

.menu-header-desktop {
    display: none;
}

header .row {
    justify-content: space-between;
    align-items: center;
}

/* ************************************** */
/* JUMBOTRON */
.jumbotron .container-big {
    display: flex;
    justify-content: center;
}

.col-header {
    padding-top: 0.4rem;
}

.jumbotron .row {
    width: 100%;
}

/* ************************************** */
/* PLANNING */
.planning {
    padding: 5rem 0;
}

/* ************************************** */
/* UTILITIES */
.text-align-center {
    text-align: center;
}

.row {
    display: flex;
    margin: 0 3rem;
}

.flex {
    display: flex;
}

.justify-center {
    justify-content: center;
}

.flex-wrap {
    flex-wrap: wrap;
}

.gap-2rem {
    gap: 2rem;
}

.line-height-2rem {
    line-height: 2rem;
}

.small-icon {
    font-size: 1.5rem;
}

.get-started .container-big {
    padding: 0;
}

/* ************************************** */
/* MARGINS */
.margin-0-auto {
    margin: 0 auto;
}

.margin-t-2rem-b-4rem {
    margin: 2rem 0 4rem 0;
}

.margin-t-b-2rem {
    margin: 2rem 0;
}

.margin-t-2rem {
    margin-top: 2rem;
}

.margin-b-2rem {
    margin-bottom: 2rem;
}

.margin-t-b-4rem {
    margin: 4rem 0;
}

.margin-t-3rem-b-5rem {
    margin-top: 3rem;
    margin-bottom: 5rem;
}

.margin-t-5rem-b-3rem {
    margin-top: 5rem;
    margin-bottom: 3rem;
}

.right-margin-05rem {
    margin-right: 0.5rem;
}

/* ************************************** */
/* PADDINGS */
.padding-2-rem {
    padding: 2rem;
}

.padding-r-l-3rem {
    padding: 0 3rem;
}

.padding-t-3rem-b-5rem {
    padding-top: 5rem;
    padding-bottom: 3rem;
}

.padding-t-b-5rem {
    padding: 5rem 0;
}

.get-started .container-big {
    padding: 0 3rem;
}

.container-big .footer-text {
    padding: 0 3rem;
}

.margin-0-auto {
    margin: 0 auto;
}

/* ************************************** */
/* FONT SIZES */
.small-font {
    font-size: 1.2rem;
}

.medium-font {
    font-size: 1.5rem;
}

.big-font {
    font-size: 2rem;
}

.big-icon-font {
    font-size: 4rem;
}

/* ************************************** */
/* COLUMNS*/
.col-30 {
    width: 100%;
}

.col-33 {
    width: 100%;
}

.col-50 {
    width: 100%;
}

.col-header {
    width: 50%;
}

.col-big {
    width: 100%;
}

.col-70 {
    width: 100%;
}

.col-100 {
    width: 100%;
}

/* ************************************** */
/* CARD PROPERTIES */
.card-radius-1 {
    border-radius: 1rem;
}

.card-radius-2 {
    border-radius: 2rem;
    padding: 2rem;
}

/* ************************************** */
/* IMAGE PROPERTIES */
.img-style {
    width: 100%;
    transform: translate(0, 0.26rem);
}

.planning img {
    width: 100%;
}

.profile-img {
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
    margin: 0 auto;
}

.about-img {
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
    position: relative;
}

.img-1 {
    background-image: url("../img/testimonial1.jpg");
}

.img-2 {
    background-image: url("../img/testimonial2.jpg");
}

.img-3 {
    background-image: url("../img/testimonial3.jpg");
}

.img-4 {
    background-image: url("../img/about.jpg");
}

/* ************************************** */
/* QUOTE SETUP */
.about-img i {
    position: absolute;
    right: -1rem;
    top: -1rem;
}

/* ************************************** */
/* BUTTON STYLE */
.bttn-style {
    padding: 0.5rem 2.5rem;
    border: none;
}

.bttn-style-big {
    padding: 1rem 3.5rem;
    border: none;
}

.bttn-circle {
    padding: 1.5rem 1.7rem;
    border: none;
    border-radius: 50%;
}

/* ************************************** */
/* COLORS */
/* BACKGROUND COLORS */
.b-azure {
    background-color: #B3DBFB;
}

.b-purple {
    background-color: #9595E3;
}

.b-white {
    background-color: white;
}

.b-dark {
    background-color: #2c2c2c;
}

.b-blue {
    background-color: #0463c2;
}

/* ************************************** */
/* TEXT COLORS */
.c-white {
    color: white;
}

.c-purple {
    color: #9595E3;
}

.c-azure {
    color: #B3DBFB;
}

.c-blue {
    color: #0463c2;
}

.c-orange {
    color: rgb(255, 188, 64);
}

.c-gray {
    color: rgb(83, 83, 83);
}

/***************
ADAPTABILITY
***************/
/* LAYOUT TABLET */
@media screen and (min-width: 768px) {

    /* ************************************** */
    /* JUMBOTRON SETTINGS */
    .gap-2-rem {
        gap: 1rem;
    }

    .col-big {
        width: calc(100% / 3 * 2 - 0.65rem);
    }

    .jumbotron .col-33 {
        width: calc(100% / 3 - 1.35rem);
    }

    .jumbotron .col-33 .card-radius-1 {
        height: 100%;
    }

    .jumbotron-phone-img {
        width: 50%;
    }

    /* ************************************** */
    /* PLANNING SETTINGS */

    .planning h2 {
        font-size: 3rem;
        margin: 4rem 0 2rem 0;
    }

    /* ************************************** */
    /* TESTIMONIALS SETTINGS */

    .col-100 .card-radius-2 {
        display: flex;
        align-items: center;
        text-align: left;
    }

    .profile-img {
        margin: 0;
        margin-right: 3rem;
    }

    .testimonials-info {
        width: 60%;
    }

    /* ************************************** */
    /*BENEFITS SETTINGS */
    .benefits .col-33 {
        width: calc(100% / 2 - 1rem);
    }

    .benefits .container-big .text-align-center {
        margin-bottom: 3rem;
    }

    /* ************************************** */
    /* ABOUT SETTINGS */
    .about .col-70 {
        width: 60%;
        padding-right: 5rem;
        margin-bottom: 3rem;
    }

    .about .col-30 {
        width: 30%;
    }

    .about .col-30 .margin-t-b-2rem {
        margin-top: 0;
    }

    .about-img {
        width: 15rem;
        height: 15rem;
        margin: 0 auto;
    }

    .about-img .fa-quote-left {
        top: 1rem;
        right: 0;
    }



    /* ************************************** */
    /* GET STARTED SETTINGS */
    .get-started .container-big {
        padding: 0 5rem;
    }

    /* ************************************** */
    /* FOOTER SETTINGS */
    .footer-text {
        width: 60%;
        margin: 0 auto;
    }

    /* ************************************** */
    /* GENERAL SETTINGS */
    .medium-font {
        font-size: 1.5rem;
    }

}

/* LAYOUT PC */
@media screen and (min-width: 1200px) {

    /* ************************************** */
    /* HEADER SETTINGS */
    ul {
        list-style-type: none;
    }

    .row {
        margin: 0;
    }

    .col-header {
        width: 40%;
    }

    .menu-header-desktop ul li {
        display: inline-block;
        margin-left: 0.5rem;
    }

    .menu-header-desktop ul li a {
        text-decoration: none;
        color: white;
    }

    .menu-header-desktop ul li button {
        border: none;
        padding: 0.5rem 1rem;
    }

    .menu-header-mobile {
        display: none;
    }

    .menu-header-desktop {
        display: inline-block;
    }

    /* ************************************** */
    /* CONTAINER SETTINGS */
    .container-big {
        max-width: 1100px;
    }

    .container-medium {
        max-width: 1000px;
    }

    /* ************************************** */
    /* JUMBOTRON SECTION SETTINGS */
    .col-big {
        display: flex;
    }

    .col-big .padding-2-rem {
        width: 60%;
    }

    .jumbotron-phone-img {
        width: 37%;
        align-self: flex-end;
        padding-right: 2rem;
    }

    /* ************************************** */
    /* PLANNING SECTION SETTINGS */
    .planning .row {
        gap: 4rem;
    }

    .planning .col-50 {
        width: calc(100% / 2 - 2rem);
    }

    .planning button {
        margin-top: 1.5rem;
    }

    .planning .col-50:last-child {
        align-self: flex-end;
        margin: 0;
    }

    .planning h2 {
        margin-top: 7rem;
    }

    .planning h3 {
        margin: 1rem 0;
    }

    .planning .img-card {
        width: 60%;
    }

    /* ************************************** */
    /* BENEFITS SECTION SETTINGS */
    .benefits .col-33 {
        width: calc(100% / 3 - 1.35rem);
    }

    /* ************************************** */
    /* ABOUT US SECTION SETTINGS */

    .about .row {
        justify-content: space-between;
    }

    .about .col-70 {
        padding-right: 0;
    }

}