/* GENERAL RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1rem;
}

/* ************************************** */
/* GENERAL SETTINGS */
.container-big {
    margin: 0 auto;
}

/* ************************************** */
/* HEADER */
header {
    background-color: #0463c2;
    padding: 1rem 0;
}

.menu-header-desktop {
    display: none;
}

header .row {
    justify-content: space-between;
    align-items: center;
}

/* ************************************** */
/* JUMBOTRON */
.jumbotron .container-big {
    display: flex;
    justify-content: center;
}

.col-header {
    padding-top: 0.4rem;
}

.jumbotron .row {
    width: 100%;
}

/* ************************************** */
/* PLANNING */
.planning {
    padding: 5rem 0;
}

/* ************************************** */
/* UTILITIES */
.text-align-center {
    text-align: center;
}

.row {
    display: flex;
    margin: 0 3rem;
}

.flex {
    display: flex;
}

.flex-wrap {
    flex-wrap: wrap;
}

.gap-2rem {
    gap: 2rem;
}

/* ************************************** */
/* MARGINS */
.margin-0-auto {
    margin: 0 auto;
}

.margin-t-b-2rem {
    margin: 2rem 0;
}

.margin-t-3rem-b-5rem {
    margin-top: 3rem;
    margin-bottom: 5rem;
}

.right-margin-05rem {
    margin-right: 0.5rem;
}

/* ************************************** */
/* PADDINGS */
.padding-2-rem {
    padding: 2rem;
}

.padding-r-l-3rem {
    padding: 0 3rem;
}

.padding-t-b-5rem {
    padding: 5rem 0;
}

.planning,
.testimonials,
.benefits,
.about,
.get-started,
.footer {
    padding: 5rem 0;
}

.border {
    border: 1px solid black;
}

.get-started .container-big {
    padding: 0 3rem;
}

.container-big .footer-text {
    padding: 0 3rem;
}

.small-icon {
    font-size: 2rem;
}

/* ************************************** */
/* FONT SIZES */
.small-font {
    font-size: 1.3rem;
}

.medium-font {
    font-size: 1.7rem;
}

.big-font {
    font-size: 4rem;
}

.big-icon-font {
    font-size: 5rem;
}

/* ************************************** */
/* COLUMNS*/
.col-30 {
    width: 100%;
}

.col-33 {
    width: 100%;
}

.col-50 {
    width: 100%;
    border: 1px solid black;
    height: 500px;
}

.col-header {
    width: 50%;
}

.col-big {
    width: 100%;
}

.col-70 {
    width: 100%;
}

.col-100 {
    width: 100%;
}

/* ************************************** */
/* CARD PROPERTIES */
.card-radius-1 {
    border-radius: 1rem;
    border: 1px solid black;
}

.card-radius-2 {
    border-radius: 2rem;
    border: 1px solid black;
}

/* ************************************** */
/* IMAGE PROPERTIES */
.img-style {
    width: 100%;
    transform: translate(0, 0.24rem);
}

/* ************************************** */
/* BUTTON STYLE */
.bttn-style {
    padding: 1rem 4rem;
    border: none;
}

/* ************************************** */
/* COLORS */
/* BACKGROUND COLORS */
.b-azure {
    background-color: #B3DBFB;
}

.b-purple {
    background-color: #9595E3;
}

.b-white {
    background-color: white;
}

.b-dark {
    background-color: #2c2c2c;
}

.b-blue {
    background-color: #0463c2;
}

/* ************************************** */
/* TEXT COLORS */
.c-white {
    color: white;
}

.c-purple {
    color: #9595E3;
}

.c-azure {
    color: #B3DBFB;
}

.c-blue {
    color: #0463c2;
}

.c-orange {
    color: rgb(237, 158, 13);
}

.c-gray {
    color: rgb(83, 83, 83);
}

/***************
ADAPTABILITY
***************/
/* LAYOUT TABLET */
@media screen and (min-width: 768px) {

    /* ************************************** */
    /* JUMBOTRON SETTINGS */
    .col-big {
        width: calc(100% / 3 * 2 - 0.65rem);
    }

    .jumbotron .col-33 {
        width: calc(100% / 3 - 1.35rem);
    }

    .jumbotron .col-33 .card-radius-1 {
        height: 100%;
    }

    .jumbotron-phone-img {
        width: 50%;
    }

    /* ************************************** */
    /*BENEFITS SETTINGS */
    .benefits .col-33 {
        width: calc(100% / 2 - 1rem);
    }

    .benefits .container-big .text-align-center {
        margin-bottom: 3rem;
    }

    /* ************************************** */
    /* ABOUT SETTINGS */
    .about .col-70 {
        width: 60%;
    }

    .about .col-30 {
        width: 40%;
    }

    /* ************************************** */
    /* GET STARTED SETTINGS */
    .get-started .container-big {
        padding: 0 5rem;
    }

    /* ************************************** */
    /* FOOTER SETTINGS */
    .footer-text {
        width: 60%;
        margin: 0 auto;
    }

    /* ************************************** */
    /* GENERAL SETTINGS */
    .medium-font {
        font-size: 2rem;
    }

}

/* LAYOUT PC */
@media screen and (min-width: 1200px) {

    /* ************************************** */
    /* HEADER SETTINGS */
    ul {
        list-style-type: none;
    }

    .row {
        margin: 0;
    }

    .col-header {
        width: 40%;
    }

    .menu-header-desktop ul li {
        display: inline-block;
        margin-left: 0.5rem;
    }

    .menu-header-desktop ul li a {
        text-decoration: none;
        color: white;
    }

    .menu-header-desktop ul li button {
        border: none;
        padding: 0.5rem 1rem;
    }

    .menu-header-mobile {
        display: none;
    }

    .menu-header-desktop {
        display: inline-block;
    }

    /* ************************************** */
    /* CONTAINER SETTINGS */
    .container-big {
        max-width: 1100px;
    }

    .container-medium {
        max-width: 900px;
    }

    /* ************************************** */
    /* JUMBOTRON SECTION SETTINGS */
    .col-big {
        display: flex;
    }

    .col-big .padding-2-rem {
        width: 60%;
    }

    .jumbotron-phone-img {
        width: 40%;
        align-self: flex-end;
        padding-right: 2rem;
    }

    /* ************************************** */
    /* PLANNING SECTION SETTINGS */
    .planning .col-50 {
        width: calc(100% / 2);
    }

    .planning .col-50:last-child {
        align-self: flex-end;
    }

    /* ************************************** */
    /* BENEFITS SECTION SETTINGS */
    .benefits .col-33 {
        width: calc(100% / 3 - 1.35rem);
    }

}